  <!--==========================
    Footer
  ============================-->
  <footer id="footer"> 

    <div class="container">
      <div class="copyright">
        &copy; Copyright <strong>Dheeraj Kumar</strong>. All Rights Reserved
      </div>
      
      <div class="col-12 mx-auto">
        <div class="social-links   col-lg-3 col-sm-12 mx-auto my-2">
          <a href="#" class="twitter ms-3"><i class="fa fa-github"></i></a>
          <a href="#" class="facebook ms-3"><i
              class="fa fa-facebook"></i></a>
          <a href="#" class="instagram ms-3"><i class="fa fa-instagram"></i></a>
          <a href="#" class="google-plus ms-3"><i class="fa fa-code"></i></a>
          <a href="#" class="linkedin ms-3"><i
              class="fa fa-linkedin"></i></a>

        </div>
      </div>
    </div>
  </footer><!-- #footer -->
